@import "breakpoints";

.about{
  display: flex;
  grid-column: 3 / span 2;
  grid-row: 1;
  color: #fff;
  padding: 10px;

  & .image--block {
    display: block;
    width: 100%;
  }

  .wrapper, .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;

    @include breakpoint(large) {
      flex-direction: row;
    }

    p{
      @include breakpoint(small) {
        max-width: unset;
      }
    }
  }

  .wrapper{
    position: relative;
    flex: 1 1 auto;
    justify-content: space-between;
    background-attachment: fixed, fixed, fixed;
    background-image: linear-gradient(180deg, _palette(accent1-alt) 5%, _palette(accent3-alt) 30%, _palette(accent6-alt));
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    margin: 20px;
    padding: 0;

    box-shadow:shadowify(20, #000);

    .shadow{
      padding: 30px;
      box-shadow: inset 0px 0px 8px 3px #0a0a0ade;
      height: 100%;
      flex-direction: inherit;
      display: inherit;
    }


    header > h2, strong{
      color: #f3f3f3;
      font-weight: bold;
    }
  }

  .container{
    flex-direction: column;
  }

  .image {
    margin: 20px auto;
    filter: drop-shadow(2px 4px 6px black);
    max-width: 450px;
  }
}
